*{
	margin: 0%;
	padding: 0%;
}

html{
	font-size: 10px;
}

.titulos{
  font-size: 30px;
  font-family: Arial;
  text-align: center;
}

.body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  justify-content: space-between;

	background-color: #F3EFC1;
}

.header{
	padding: 25px;
  
  flex-direction: row;
}

.footer{
  height: 40px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
  
}

.p {
  color: blue;
  font-family: Arial;
  font-size: 20px;
}

.ulli {
  color: blue;
  font-family: Arial;
  font-size: 20px;
  margin-left: 10px;

}
.row{
 padding: 20px;
}

.

/*Developed by*/
.h5{
  margin-left: 25px;
  font-family: Arial;
}

.carousel-inner {

  height: 400px;
}

.navbar{
  font-size: 18px;
  background-color: orange;
  color:black;
  width: 100%;
  margin-left: 10px;
}

.BordeFoto {
  border: solid blue 8px;
  text-align: left;
  margin-right: 25px;
}

/*En el footer*/
.espacioIconos{
  padding: 20px;
  margin-right: 20px;
}

.tamanioMail{
  font-size: 20px;
  font-family: Arial;
}

/*Page Contacto*/
.alignForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.recuadroForm {
  justify-content: space-between;
  background-color: grey;
  border-radius: 12px;
  box-shadow: 2px 2px 4px black
  min-height:304px;
  margin:0px auto;
  padding: 30px;
}

.contactForm{
  color: solid black;
  font-size: 18px;
}

.recuadro {
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 4px black
  min-height:304px;
  margin:0px auto;
  padding: 30px;
}
/*Page Index*/

.imgIndex {
  
  object-fit: contain;
  max-width: 100%; 
  
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.marginIndex{
  margin:0px auto;
}

/*Animaci[on de las h1*/
.animacionJose {
  color: solid black;
  font-size: 50px;
  padding: 30px;
  animation-duration: 4s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
   transform: translate3d(100%, 0, 0);
    visibility: visible;
  
  }

  to {
     transform: translate3d(0, 0, 0);
  
  }
}

.animacionJoseIndex{
  color: solid black;
  font-size: 50px;
  padding: 30px;
  animation-duration: 4s;
  animation-name: aniIndex;

}

@keyframes aniIndex {
  from {
   transform: translate3d(0, 0, 0);
    visibility: visible;
  
  }

  to {
     transform: translate3d(50%, 0, 0);
  
  }
}


 

/*Aparecer
@keyframes aparecer {
  0%{opacity: 0;}
  100%{opacity: 1;}
}



.aparece {
  font-size: 50px;
  font-family: Arial;
  text-align: center;
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: 3;

}
*/

.recuadro__subtitulo--estetica{
  font-size: 40px;
  font-family: Arial;
  color: solid black;
}


@keyframes aparecer {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.transicion:hover {
  
  color: white;
  font-size: 40px;
  background-color: blue;
  padding: 20px;
  transform: 3s;
  text-shadow: 2px;
  
}

.transform{
  font-size: 40px;
  scale: (1.2,1.2);
  text-shadow: 2px,2px,4px;
}

input {
  width: 100px;
  transition: all 2s;
}

input:focus {
  width: 200px;
  font-size: 30px;
}

.margenesform{
  display: inline;
  font-size: 18px;
  text-align: center;
  
}


.main__container{
	width: 100%;
	display: flex;
	justify-content: flex-end;


}

.main__container-title{
	flex-basis: 60%;
	display: flex;
	justify-content:  space-between;
	align-items: center;
  padding-right: 20px;
}


.grad {
	background-image: linear-gradient(to left, yellow, blue, yellow, blue, yellow);
	font-size: 20px;
	padding: 20px;
}




.border {
	border:1px solid black;
}

/*Page Cursos*/

#grilla {
   display: inline;
   grid-template-areas:
     "header nav nav"
     "iniciales iniciales iniciales"
     "avanzados avanzados avanzados"
     "footer footer footer";
   grid-template-rows: 100px 200px 500px 175px; 
   grid-template-columns: 20% auto 15%;
   grid-row-gap: 10px;
   grid-column-gap: 15px;
   height: 100vh;
   margin:0px;
   background-color: #F3EFC1;
   color: black;
   font-size: 20px;
}
.TextoInformativoI {
  color: black;
	display: inline;
	font-size: 13px;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 5px;
}


.TextoInformativoA {
  color: black;
	display: inline;
	font-size: 13px;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
.border {
   border: 1px solid white;
}
header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
section#Iniciales {
   grid-area: iniciales;margin-left: 5px

}
section#Avanzados {
   grid-area: avanzados; 
   margin-left: 5px    
}
nav {
   grid-area: nav;
}
aside {
   grid-area: publicidad;
}


@media only screen and (max-width: 768px) {
#grilla {
   display: grid;
   grid-template-areas:
     "header nav nav"
     "inicial inicial inicial"
     "avanzado avanzado avanzado"
     "footer footer footer";
   grid-template-rows: 100px 200px 500px 175px; 
   grid-template-columns: 20% auto 15%;
   grid-row-gap: 10px;
   grid-column-gap: 15px;
   height: 100vh;
   margin:0px;
   background-color: orange;
   color: black;
   font-size: 30px;
}
.border {
   border: 1px solid black;
}
header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
section#productos {
   grid-area: productos;     
}
section#servicios {
   grid-area: servicios;     
}
nav {
   grid-area: nav;
}
aside {
grid-area: publicidad;}
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .titulo--productos{font-size: 20px;color: red;}
  .centrar--elementos{text-align: center;}
  h1{font-size:25px; }
  h2{font-size:23px; }
  h3{font-size:21px; }

}

@media (min-width: 770px) and (max-width: 1198px) { .centrar--elementos{text-align: center;}
 }

@media (min-width: 1200px) { ... }